:root {
    --app-bg-color: #121212;
    --app-text-color: #FFFFFF;

    --input-bg-color: #2E2E2F;
    --input-text-color: #A5A5A5;
    --input-btn-bg-color: #4B4B4B;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--app-bg-color);
    color: var(--app-text-color);
}

/* =============================== 
            typography
   =============================== */
a {
    text-decoration: none;
    color: inherit;
}

nav ul li:nth-child(1) {
    font-size: 4.5rem;
}

nav ul li:nth-child(2) {
    font-size: 1rem;
}

h2.movie-name{
    font-size: 1.3rem;
}

/* =============================== 
           END typography
   =============================== */



/* =================================
             nav design 
   =================================*/
nav {
    background-image: url(images/image\ 36.png);
    width: 100%;
    height: 208px;
}

nav ul {
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

/* =================================
            END nav design 
   =================================*/



/* =================================
            input element
   ================================= */
.search-input-div,
.search-input {
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
}

.search-input,
.search-btn {
    border: none;
    height: 100%;
}

.search-input-div {
    max-width: 550px;
    width: 95%;
    height: 42px;
    margin: 0 auto;
    border-radius: 25px;
    /* border: 3px solid green; */

    display: flex;
    align-items: center;

    position: absolute;
    top: 187px;
    left: 0;
    right: 0;
}

.search-input {
    width: 80%;
    outline: none;
}

.search-btn {
    width: 20%;
    color: var(--app-text-color);
    background-color: var(--input-btn-bg-color);
    padding: 9px 11px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.search-input-div i {
    padding: 1px 15px 0px 20px;
    font-size: .9rem;
}

/* =================================
           END input element
   ================================= */



/* =================================
           grid section 
   =================================*/
.grid-container{
    border: 1px solid red;
    max-width: 550px;
    width: 95%;
    margin: 2em auto;

    display: grid;
    grid-template-columns: 137.5px 137.5px 137.5px 137.5px;
    grid-template-rows: auto;

    /* align-items: center;
    justify-items: start; */
}

.movie-poster,
.movie-name,
.fa-star,
.duration,
.type,
.watchList-btn,
.plot{
    border: 1px solid red;
}

.movie-poster{
    width: 100%;
    height: auto;

    grid-column: 1 / 2;
    grid-row: 1 / span 3;
}
.movie-name{
    grid-column: 2 / 3; /* grid-column: 2 / span 1; */
    grid-row: 1 / 2;
}
.fa-star{
    grid-column: 3 / -1;
    grid-row: 1 / 2;

    align-self: center;
    justify-self: start;
}
.duration{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.type{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.watchList-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;

    grid-column: 4 / 5;
    grid-row: 2 / 3;
}
.plot{
    grid-column: 2 / span 3;
    grid-row: 3 / 4;
}