:root {
    --app-bg-color: #121212;
    --app-text-color: #FFFFFF;

    --input-bg-color: #2E2E2F;
    --input-text-color: #A5A5A5;
    --input-btn-bg-color: #4B4B4B;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--app-bg-color);
    color: var(--app-text-color);
}

/* =============================== 
            typography
   =============================== */
a {
    text-decoration: none;
    color: inherit;
}

nav ul li:nth-child(1) {
    font-size: 4.5rem;
}

nav ul li:nth-child(2) {
    font-size: 1rem;
}

h2.movie-name {
    font-size: 1.3rem;
}

/* =============================== 
           END typography
   =============================== */



/* =================================
             nav design 
   =================================*/
nav {
    background-image: url(images/image\ 36.png);
    width: 100%;
    height: 208px;
}

nav ul {
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

/* =================================
            END nav design 
   =================================*/



/* =================================
            input element
   ================================= */
.search-input-div,
.search-input {
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
}

.search-input,
.search-btn {
    border: none;
    height: 100%;
}

.search-input-div {
    max-width: 550px;
    width: 95%;
    height: 42px;
    margin: 0 auto;
    border-radius: 25px;
    /* border: 3px solid green; */

    display: flex;
    align-items: center;

    position: absolute;
    top: 187px;
    left: 0;
    right: 0;
}

.search-input {
    width: 80%;
    outline: none;
}

.search-btn {
    width: 20%;
    color: var(--app-text-color);
    background-color: var(--input-btn-bg-color);
    padding: 9px 11px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.search-input-div i {
    padding: 1px 15px 0px 20px;
    font-size: .9rem;
}

/* =================================
           END input element
   ================================= */

.watchlist-btn {
    display: block;
    border-radius: 50%;
    background-color: aquamarine;
    border: none;
}

.watchlist-btn i {
    width: 100%;
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* =================================
           grid section 
   =================================*/
.grid-container {
    box-shadow: 0px 0px 4px white;
    max-width: 550px;
    width: 95%;
    margin: 0 auto;
    margin-top: 2.5em;

    display: grid;
    grid-template: .3em auto auto auto .3em / minmax(110px, 138px) auto auto 70px 0px;
    grid-template-areas:
        "poster . . ."
        "poster title Runtime watchList"
        "poster Genre fa-star watchList"
        "poster plot plot plot"
        "poster . . .";
    gap: .4em;
    align-items: center;
}

.movie-poster {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* grid-row: 1 / -1;
    grid-column: 1; */
    grid-area: poster;
}

.movie-title {
    /* grid-row: 2;
    grid-column: 2; */
    grid-area: title;
}

.fa-star {
    /* grid-row: 3;
    grid-column: 3; */
    grid-area: fa-star;
}

.Runtime {
    /* grid-row: 2;
    grid-column: 3; */
    grid-area: Runtime;
}

.movie-Genre {
    /* grid-row: 3;
    grid-column: 2; */
    grid-area: Genre;
}

.watchList {
    /* grid-row: 3;
    grid-column: 4; */
    grid-area: watchList;
    justify-self: center;
    text-align: center;
    line-height: 1.2em;
}

.movie-plot {
    /* grid-row: 4;
    grid-column: 2 / -1; */
    grid-area: plot;
    /* padding-right: .2em; */
}

/* @media (min-width: 415px) {
    .grid-container {
        grid-template: .5em auto auto auto .5em / 137.5px auto auto 20px .4em;
        gap: .5em;
    }
} */

.movie-poster,
.movie-title,
.fa-star,
.Runtime,
.movie-Genre,
.watchList,
.movie-plot {
    /* border: 1px solid red; */
}

/* =================================
END of grid section 
=================================*/








#temporary{
    margin-top: 3em;
}