:root {
    --app-bg-color: #121212;
    --app-text-color: #FFFFFF;

    --star-gold-color: #FEC654;
    --count-red-color: #c1121f;

    --input-bg-color: #2E2E2F;
    --input-text-color: #9CA3AF;
    --input-btn-bg-color: #4B4B4B;

    --movie-plot-text-color: #A5A5A5;
    --not-find-movie-text-color: #787878;

    /* --watchlist-btn-bg-color: #FFFFFF */
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    max-width: 1499px;
    margin: 0 auto;

    background-color: var(--app-bg-color);
    color: var(--app-text-color);
    font-family: 'Inter', sans-serif;
}

/* =============================== 
            typography
   =============================== */
a {
    text-decoration: none;
    color: inherit;
}

.btn{
    cursor: pointer;
}

/* navbar */
nav ul li:nth-child(1) {
    font-size: 3rem;
    font-weight: 800;
}

nav ul li:nth-child(2) {
    font-size: .8rem;
    font-weight: 700;
}

/* input element => search-input-div */


/* main => grid-container */
.first-row h2 {
    display: inline-block;
    font-size: 1.125em;
    font-weight: 500;
    padding-right: .3em;
}

.second-row {
    display: flex;
    justify-content: space-between;
    gap: .5em;
}

.fa-star,
.Runtime,
.movie-Genre,
.watchList {
    font-size: .8rem;
    font-weight: 400;
}

i.fa-star{
    font-weight: 900;
    color: var(--star-gold-color);
}
i.fa-star p {
    display: inline;
    color: var(--app-text-color);
}

.movie-plot {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--movie-plot-text-color);
}
/* =============================== 
           END typography
   =============================== */


/* =================================
             nav design 
   =================================*/
nav {
    background-image: url(images/image\ 36.png);
    width: 100%;
    height: 208px;
}

nav ul {
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.watchlist-count{
    color: var(--count-red-color);
    font-size: 1.3rem;
    font-weight: 800;
}
/* =================================
            END nav design 
   =================================*/



/* ===========================
           start default 
   ===========================*/

.default{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 57%;
    bottom: 33%;
    right: 0;
    left: 0;
}   

.default .fa-film{
    font-size: 3.5rem;
    color: var(--input-bg-color);
}

.default p {
    font-size: 1.2rem;
    color: var(--input-bg-color);
    font-weight: 800;
    max-width: 18em;
}

.error-message-not-find-movie {
    color: var(--not-find-movie-text-color) !important;
}

/* ===========================
           END default 
   ===========================*/



/* =================================
            input element
   ================================= */
.search-input-div,
.search-input {
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
}

.search-input,
.search-btn {
    height: 100%;
    font-size: 0.875em;
    font-weight: 500;
    border: none;
}

.search-input-div {
    max-width: 550px;
    width: 95%;
    height: 42px;
    margin: 0 auto;
    border-radius: 25px;

    display: flex;
    align-items: center;

    position: absolute;
    top: 187px;
    left: 0;
    right: 0;
}

.search-input {
    width: 80%;
    outline: none;
}

.search-btn {
    width: 20%;
    letter-spacing: .4px;
    color: var(--app-text-color);
    background-color: var(--input-btn-bg-color);
    padding: 9px 11px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.search-input-div i {
    padding: 1px 15px 0px 20px;
    font-size: .8rem;
}

/* =================================
           END input element
   ================================= */

.watchlist-btn {
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 10%;
    border: none;
    outline: none;
}

.watch-status-btn {
    padding-top: .09em;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: 900;
}

/* =================================
           grid section 
   =================================*/
.grid-container {
    box-shadow: 0px 0px 4px white;
    max-width: 550px;
    width: 95%;
    margin: 0 auto;
    margin-top: 2.5em;

    display: grid;
    grid-template: .3em auto auto auto .3em / minmax(110px, 140px) auto auto 70px 0px;
    grid-template-areas:
        "poster . . ."
        "poster firstRow firstRow firstRow"
        "poster secRow secRow secRow"
        "poster plot plot plot"
        "poster . . .";
    gap: .4em;
    align-items: center;
}

.movie-poster {
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-area: poster;
}

.first-row {
    grid-area: firstRow;
}

.second-row {
    grid-area: secRow;
}

.movie-plot {
    grid-area: plot;
}

/* @media (min-width: 415px) {
    .grid-container {
        grid-template: .5em auto auto auto .5em / 137.5px auto auto 20px .4em;
        gap: .5em;
    }
} */

.movie-poster,
.first-row,
.fa-star,
.Runtime,
.movie-Genre,
.watchList,
.movie-plot {
    /* border: 1px solid red; */
}

/* =================================
        END of grid section 
====================================*/


/* =============================
            footer              
   ============================= */
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 3.5em;
    border: 1px solid red;
    background-color: var(--input-bg-color);
}



#temporary {
    margin-top: 30em;
}